<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">{{ name }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title"><span class="glyphicon glyphicon-user"
                                                  aria-hidden="true"></span>     {{ author }}</h2>
                <p>{{ text }}</p>
                <hr>
            </div>
            <div class="blog-post">
                {% for comment in comments %}
                    <p class="blog-post-meta">{{ comment.date }}     <span class="glyphicon glyphicon-user"
                                                                    aria-hidden="true"></span><a>     {{ comment.author }}</a>
                    </p>
                    <p>{{ comment.comment }}</p>
                    <hr>
                {% endfor %}
            </div>

            <h3>Добавить комментарий:</h3>
            <div class="form-group">
                <form action="?new/add" method="post">
                    <input type="hidden" value="{{ id }}" name="id">
                    <label for="author">Имя:</label><input type="text" class="form-control" name="author">
                    <label for="comment">Комментарий:</label><textarea class="form-control" rows="4"
                                                                    name="comment"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>

        </div>
    </div>
</div>