<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Новости</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                {% for blog in blogs %}
                    <h2 class="blog-post-title"><a href="?news={{ blog.id }}">{{ blog.name }}</a></h2>
                    <p class="blog-post-meta">{{ blog.date }} <span class="glyphicon glyphicon-user"
                                                                    aria-hidden="true"></span>
                        <a>{{ blog.author }}     </a><span class="glyphicon glyphicon-comment"
                                                           aria-hidden="true"></span><span> {{ blog.count }}</span>
                    </p>
                    <p><a href="?news={{ blog.id }}">{{ blog.text }}</a></p>
                    <hr>
                {% endfor %}
            </div>

            <h3>Добавить новость:</h3>
            <div class="form-group">
                <form action="?news/add" method="post">
                    <label for="author">Имя:</label><input type="text" class="form-control" name="author">
                    <label for="name">Заголовок:</label><input type="text" class="form-control" name="name">
                    <label for="text">Комментарий:</label><textarea class="form-control" rows="4"
                                                                    name="text"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>

        </div>
    </div>
</div>